{% extends 'base.html.twig' %}

{% block title %}Author Page{% endblock %}

{% block body %}
    <h1>Authors</h1>
    <hr />

    <div class="form-group">
        <a class="btn btn-success" href="{{ path('author_new') }}">
            <i class="fa fa-plus"></i> Create new
        </a>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>{{ author.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('author_show', {'id': author.id}) }}">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('author_edit', {'id': author.id}) }}">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
